*{
    margin: 0;
    text-decoration: none;
}


/* img {
  position: absolute;
  top: 150px;
  left: 150px;
}
.imgA1 {
  z-index: 1;
}
.imgB1 {
  z-index: 3;
} */


#header{
    width: 100%;
    display: block;
    height: 60px;
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
    color:  #1a1a1a; 
    border: 0.1px solid #a1a1a1;
}

.inner-header{
    float: left;
    width: 1%;
    display: block;
    height: 100%;
}

#name{
    display: table;
    height: 100%;
}

#name a{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 0px 20px;
    color:  #1a1a1a; 
    font-size: 25px;
}

#name a span{
    font-weight: 10;
}

#navigation{
    float: right;
    height: 100%;
}
#navigation a{
    display: table;
    height: 100%;
    float: left;
    padding: 0px 20px;
}

#navigation a li{
    display: table-cell;
    vertical-align: middle;
    color:  #1a1a1a; 
}

#aboutme {
    width: 100%;
    display: flex;
    align-items: center;      /* vertically center contents */
    justify-content: center;  /* center everything nicely */
    background-color: gray;
    padding: 40px 0;
}


#photo{
    
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;     /* makes it a circle */
    object-fit: cover;      /* crops nicely */
    display: block;         /* avoids inline-image spacing issues */
    margin: 0 auto;         /* centers image inside #photo */
}



#introduction {
    display: table-cell;
    width: 50%;
    vertical-align: middle;   
    padding-right: 80px;   /* add spacing from right edge */
    padding-left: 40px;    /* add spacing from the photo */
}











.pubs-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
    font-family: Helvetica, Arial, sans-serif;
}

.pub-section h2 {
    margin-top: 40px;
    font-size: 24px;
    color: #333;
}

.pub-item {
    margin: 25px 0;
    padding: 20px;
    border-left: 3px solid #555;
    background: #f9f9f9;
    border-radius: 6px;
}

.pub-title a {
    font-size: 20px;
    font-weight: 600;
    color: #111;
    text-decoration: none;
}

.pub-authors {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}

.pub-venue {
    margin: 4px 0;
    font-size: 14px;
    font-weight: 600;
    color: #444;
}

.pub-links a {
    margin-right: 15px;
    font-size: 14px;
    color: #1a73e8;
}

.pub-desc {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}


.publications-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
    font-family: Helvetica, Arial, sans-serif;
}

.publications-container ol {
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;

}

.publications-container a {
    margin-left: 8px;
    color: #1a73e8;
    text-decoration: none;
}

.publications-container a:hover {
    text-decoration: underline;
}


#projects-container {
    width: 70%;
    margin: 50px auto;
    font-family: sans-serif;
}

.project {
    padding: 20px;
    border: 1px solid #e0e0e0;
    margin-bottom: 25px;
    border-radius: 10px;
}

.project h2 {
    margin-top: 0;
}

.project-link {
    color: #0072ff;
    text-decoration: none;
    font-weight: bold;
}

.project-link:hover {
    text-decoration: underline;
}

