*{
    margin: 0;
    text-decoration: none;
}

#header{
    width: 100%;
    display: block;
    height: 60px;
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
    color:  #1a1a1a; 
    border: 0.1px solid #a1a1a1;
}

.inner-header{
    float: left;
    width: 1%;
    display: block;
    height: 100%;
}

#name{
    display: table;
    height: 100%;
}

#name a{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 0px 20px;
    color:  #1a1a1a; 
    font-size: 25px;
}

#name a span{
    font-weight: 10;
}

#navigation{
    float: right;
    height: 100%;
}
#navigation a{
    display: table;
    height: 100%;
    float: left;
    padding: 0px 20px;
}

#navigation a li{
    display: table-cell;
    vertical-align: middle;
    color:  #1a1a1a; 
}

#aboutme {
    width: 100%;
    display: flex;
    align-items: center;      /* vertically center contents */
    justify-content: center;  /* center everything nicely */
    background-color: gray;
    padding: 40px 0;
}


#photo{
    
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;     /* makes it a circle */
    object-fit: cover;      /* crops nicely */
    display: block;         /* avoids inline-image spacing issues */
    margin: 0 auto;         /* centers image inside #photo */
}


#introduction {
    display: table-cell;
    width: 50%;
    vertical-align: middle;   
    padding-right: 80px;   /* add spacing from right edge */
    padding-left: 40px;    /* add spacing from the photo */
}